#statement {
	display: grid;
	grid-template-columns: 50% 50%;
	border: 0px solid black;
	flex-direction: column;
	padding: 10px;
	grid-gap: 10px;
	justify-items: center;
	align-items: center;
}

#headerList {
	list-style-type: square;
	text-align: center;
	font-family: trasandina,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 250%;
}

.comparison {
	border: 1px solid red;
	padding: 10px;
	width: 60%;
	justify-content: center;
	align-content: center;
}

.subHeading{
	text-align: center;
	display: inline;
	padding: 20px;
	list-style-type: square;
}

html{
	font: 170%;
}

p{
	font-family: museo-sans,sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 130%;
}

header{
	background-color: aliceblue;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	background-image: url(https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
	background-repeat: repeat-x;
	background-size: cover;
}

main{
	background-color: azure;
}

footer{
	background-color: cadetblue;
	text-align: center;
}

h1{
	font-family: abril-fatface, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 600%;
	text-align: center;
}

h2{
	font-family: trasandina,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 350%;
}

h3{
	font-family: trasandina,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 200%;
}